---
layout: index
title: Homepage
swiper: true
seo:
  title: 
  description:
  social_image:
  twitter_card:
  keywords:
  hide-from-google: false
swiper_index:
  - image: /images/swiper-index/amy-baserga-swiper-index-1.jpg
  - image: /images/swiper-index/amy-baserga-swiper-index-2.jpg
  - image: /images/swiper-index/amy-baserga-swiper-index-3.jpg
  - image: /images/swiper-index/amy-baserga-swiper-index-4.jpg
  - image: /images/swiper-index/amy-baserga-swiper-index-5.jpg
  - image: /images/swiper-index/amy-baserga-swiper-index-6.jpg
  - image: /images/swiper-index/amy-baserga-swiper-index-7.jpg
  - image: /images/swiper-index/amy-baserga-swiper-index-8.jpg
  - image: /images/swiper-index/amy-baserga-swiper-index-9.jpg
  - image: /images/swiper-index/amy-baserga-swiper-index-10.jpg
  - image: /images/swiper-index/amy-baserga-swiper-index-11.jpg
  - image: /images/swiper-index/amy-baserga-swiper-index-12.jpg
  - image: /images/swiper-index/amy-baserga-swiper-index-13.jpg
  - image: /images/swiper-index/amy-baserga-swiper-index-14.jpg
  - image: /images/swiper-index/amy-baserga-swiper-index-15.jpg
  - image: /images/swiper-index/amy-baserga-swiper-index-16.jpg
  - image: /images/swiper-index/amy-baserga-swiper-index-17.jpg
  - image: /images/swiper-index/amy-baserga-swiper-index-18.jpg
  - image: /images/swiper-index/amy-baserga-swiper-index-19.jpg
  - image: /images/swiper-index/amy-baserga-swiper-index-20.jpg
  - image: /images/swiper-index/amy-baserga-swiper-index-21.jpg
  - image: /images/swiper-index/amy-baserga-swiper-index-22.jpg
  - image: /images/swiper-index/amy-baserga-swiper-index-23.jpg
  - image: /images/swiper-index/amy-baserga-swiper-index-24.jpg
  - image: /images/swiper-index/amy-baserga-swiper-index-25.jpg
  - image: /images/swiper-index/amy-baserga-swiper-index-26.jpg
  - image: /images/swiper-index/amy-baserga-swiper-index-27.jpg
  - image: /images/swiper-index/amy-baserga-swiper-index-28.jpg
  - image: /images/swiper-index/amy-baserga-swiper-index-29.jpg
  - image: /images/swiper-index/amy-baserga-swiper-index-30.jpg
  - image: /images/swiper-index/amy-baserga-swiper-index-31.jpg
  - image: /images/swiper-index/amy-baserga-swiper-index-32.jpg
  - image: /images/swiper-index/amy-baserga-swiper-index-33.jpg
  - image: /images/swiper-index/amy-baserga-swiper-index-34.jpg
  - image: /images/swiper-index/amy-baserga-swiper-index-35.jpg
shop:
  - image: /images/shop/shop-1.jpg
    title: T-Shirt
    price: CHF 35.-
  - image: /images/shop/shop-3.jpg
    title: Heftli
    price: CHF 15.-
  - image: /images/shop/shop-4.jpg
    title: Mütze
    price: CHF 25.-
---

<!------------------------ Image Banner  ------------------------>
<section class="bg-image bg-hero">
    {% include site-header.html %}

    <div class="capped-width grid-spaceAround">
      <div class="col-12 grid-top-spaceAround hero-expand">
        <div class="col-6 padded-1">
          <div class="bg-img-index-1 relative">
            <img src="/images/amy-baserga-index-1.jpg" class="img-style-1">
            <h2 class="padded-t-1"> More than an athlete. </h2>
            <div class="index-badge-1">
              <img src="/icons/SVG/amy-baserga-sticker-pink.svg">
            </div>
          </div>
        </div>
        <div class="col-6 padded-1">
            <div class="bg-img-index-1 relative">
              <img src="/images/amy-baserga-index-2.jpg" class="img-style-1">
            </div>
        </div>
      </div>

      <div class="col-12 padded bg-paper-1 relative flex-center">
        <div class="editable">
          <h2> Über mich</h2>
          <p> Ich bin Amy Baserga, 25 Jahre alt und komme aus Einsiedeln. Ich bin Biathletin im Schweizer Nationalteam und Olympionikin – mit viel Leidenschaft lebe ich meinen Traum als Spitzensportlerin. </p>
          <a href="/ueber-mich.html" class="button"> mehr erfahren </a>
        </div>
        <div class="schneeflocke-absolute-1">
          <img src="/icons/SVG/amy-baserga-schneeflocke-weiss.svg">
        </div>
      </div>

      <div class="col-12 center padded-2">
        <img src="/icons/SVG/amy-baserga-van-landschaft-hellbraun.svg" class="icon-landschaft-van-index-1">
      </div>
    </div>
</section>


<section>

    <div class="capped-width grid-spaceAround">

      <div class="col-12 padded relative">
        <div class="editable">
          <h2> Biathlon - Aktuelles </h2>
          <p> Das Sommertraining habe ich optimal genutzt und konnte mir eine starke Basis für den Winter erarbeiten. Jetzt steht mit dem Gletschertraining eines meiner absoluten Highlights auf dem Programm – jedes Jahr ein Moment, auf den ich mich ganz besonders freue. Anfang November öffnet dann die Loipe in Davos, wo ich die ersten Runden auf heimischem Schnee drehen kann und den letzten Feinschliff für die Saison hole. Am 19. Oktober wartet mit Loop One bereits der erste Wettkampf, bevor am 27. November die Weltcup-Saison 25/26 offiziell beginnt – ein ganz besonderes Jahr, denn die Olympischen Spiele stehen vor der Tür. </p>
          <br>
          <a href="/biathlon.html" class="button"> mehr erfahren </a>
        </div>
        <img src="/icons/SVG/amy-baserga-ski-braun.svg" class="schneeflocke-absolute-2">
      </div>
    </div>
</section>



<div class="marquee margin-t-2">
  <ul class="marquee__content logos">

    <li><img src="/icons/sponsoren/fitness_Factory.png" alt="Fitness Factory" /></li>
    <li><img src="/icons/sponsoren/helvetia.png" alt="Helvetia" /></li>
    <li><img src="/icons/sponsoren/jan-hauser_.png" alt="Jan Hauser" /></li>
    <li><img src="/icons/sponsoren/JS_Schweisstechnik_neu_4f.png" alt="JS Schweisstechnik" /></li>
    <li><img src="/icons/sponsoren/julbo.png" alt="Julbo" /></li>
    <li><img src="/icons/sponsoren/roeckl-sports.png" alt="Roeckl Sports" /></li>
    <li><img src="/icons/sponsoren/spitzensport.png" alt="Spitzensport" /></li>
    <li><img src="/icons/sponsoren/sporthilfe.png" alt="Sporthilfe" /></li>
    <li><img src="/icons/sponsoren/swissbiomechanics.logo.png" alt="Swiss Biomechanics" /></li>
    <li><img src="/icons/sponsoren/VAT.png" alt="VAT" /></li>

    <!-- duplicated for seamless scroll -->
    <li><img src="/icons/sponsoren/fitness_Factory.png" alt="Fitness Factory" /></li>
    <li><img src="/icons/sponsoren/helvetia.png" alt="Helvetia" /></li>
    <li><img src="/icons/sponsoren/jan-hauser_.png" alt="Jan Hauser" /></li>
    <li><img src="/icons/sponsoren/JS_Schweisstechnik_neu_4f.png" alt="JS Schweisstechnik" /></li>
    <li><img src="/icons/sponsoren/julbo.png" alt="Julbo" /></li>
    <li><img src="/icons/sponsoren/roeckl-sports.png" alt="Roeckl Sports" /></li>
    <li><img src="/icons/sponsoren/spitzensport.png" alt="Spitzensport" /></li>
    <li><img src="/icons/sponsoren/sporthilfe.png" alt="Sporthilfe" /></li>
    <li><img src="/icons/sponsoren/swissbiomechanics.logo.png" alt="Swiss Biomechanics" /></li>
    <li><img src="/icons/sponsoren/VAT.png" alt="VAT" /></li>

  </ul>
</div>


<section class="padded">
  <!-- Slider main container -->
  <div class="swiper-index">
    <!-- Additional required wrapper -->
    <div class="swiper-wrapper">
      <!-- Slides -->
      {% for swiper in page.swiper_index %}
        <div class="swiper-slide">
          <div class="bg-image landscape" style="background-image: url('{{ swiper.image }}');"></div>
        </div>
      {% endfor %}
    </div>
    <!-- If we need pagination -->
    <!-- <div class="swiper-pagination"></div> -->
  
    <!-- If we need navigation buttons -->
    <!-- <div class="swiper-button-prev hide-md"> </div>
    <div class="swiper-button-next hide-md"> </div> -->
  
    <!-- If we need scrollbar -->
    <!-- <div class="swiper-scrollbar"></div> -->
  </div>
  <div class="try-to-slide">
    <p> -> you can swipe here </p>
  </div>
</section>


<section>
  <div class="capped-width grid-spaceAround padded-c1">
    <div class="col-12 padded-1">
      <h2> Shop </h2>
    </div>
    {% for shop in page.shop %}
    <div class="col-4 padded-1">
      <div class="shop">
        <img src="{{shop.image}}">
        <h3 class="margin-t-1 shop-title"> {{shop.title}} </h3>
        <p class="price"> {{shop.price}}</p>
      </div>
    </div>
    {% endfor %}
    <div class="col-12 padded-1 center">
      <a href="/shop.html" class="button"> jetzt einkaufen </a>
    </div>
  </div>
</section>

<section class="bg-image bg-hero-2 tall-80">

    <div class="capped-width grid-spaceAround">

      <div class="col-12 padded relative flex-center">
        <div class="editable">
          <h2> Zwischen Leistungssport, Passion und Vanlife </h2>
          <p>Erfahre mehr über mein Leben als Biathletin mit ein paar persönlichen Eindrücke in meine Freizeit.  </p>
          <a href="/blog.html" class="button"> mehr erfahren </a>
        </div>
        <img src="/icons/SVG/amy-baserga-schneeflocke-weiss.svg" class="schneeflocke-absolute-3">
      </div>

    </div>
</section>

